@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rock+Salt&display=swap');



#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg, #hero-msg h4 {
    font-family: poppins, Arial, Helvetica, sans-serif;
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #7b7263;
}
body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: #ece9e9;
    margin: 0;
    padding: 0;
}
header {
    background-color: #134266;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #fce172;
    color: black;
}
.book, .join {
    background-color: #78c5d7;
    font-family: 'Rock Salt', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #fce172;
    color: black;
}
#background {
    background-color: #e0f2f6;
}
footer {
    background-color: #134266;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    font-family: 'Rock Salt', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    color: black;
    margin-top: 10px;
}
h4 {
    color: black;
}
h2 {
    margin: 0;
}
.msg h2 {
    font-family: 'Rock Salt', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
.msg {
    padding: 35px;
}
.msg p {
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: .8em;
    line-height: 1.5em;
    color: black;
    padding-bottom: 15px;
}
footer h3 {
    color: lightgray;
    text-decoration: underline;
}
footer a {
    color: lightgray;
    text-decoration: none;
}
footer a:hover {
    color: #fce172;
    text-decoration: underline;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-around;
    justify-self: center;
    align-self: center;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #fce172;
}
main section img {
    box-sizing: border-box;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    color: lightgray;
}